.home-hero{
  height: 100vh;
  position: relative;
  &::before{
    content: "";
    width: 100%;
    filter: blur(20px);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
    animation: animationOpacityGradient 2s  infinite;
  }
  &-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-inline: 5%;
    box-sizing: border-box;
    img{
      width: 500px;
      max-width: 500px;
      z-index: 998;
      mix-blend-mode: difference;
      filter: blur(20px);
      transform: scale(0.8);
      opacity: 0;
      @media (max-width: 991px){
        max-width: 400px;
      }
    }
    h2{
      position: absolute;
      top: 15vh;
      z-index: 998;
      mix-blend-mode: difference;
      pointer-events: none;
    }
    &-background{
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 70vw;
      height: 100vh;
      background: $primary-gradient;
      filter: blur(200px);
      opacity: 0.3;
    }
  }
}


@keyframes animationOpacityGradient {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.3;
  }
}
