.home-contact {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &-image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;

      padding-left: 80px;
      padding-right: 80px;

      form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 50px;

        width: 100%;

        .home-contact-form-input {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;

          box-sizing: border-box;

          label + .home-contact-form-input-container,
          label + .home-contact-form-input-container {
            margin-top: 10px;
          }

          &-container {
            position: relative;
            border-bottom: $black 1px solid;

            input,
            textarea {
              min-width: 100px;

              width: 100%;

              box-sizing: border-box;

              padding: 12px 14px;

              border-top: none;
              border-left: none;
              border-right: none;
              border-bottom: none;

              background-color: transparent;
            }

            input:focus,
            textarea:focus {
              outline: none;
            }

            textarea {
              resize: vertical;
              min-height: 100px;
            }
          }

          &-container::after,
          &-container::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: -1px;
            left: 0;
            border-bottom: 3px solid $primary;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }

          &-container:focus-within::after,
          &-container:focus-within::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }

        .home-contact-form-input + .home-contact-form-input {
          margin-top: 20px;
        }

        .home-contact-form-submit {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 30px;

          button {
            width: 100%;
            padding: 15px;

            border: none;
            background-color: $black;
            color: $white;
            font-size: 16px;
            font-family: 'Satoshi Regular';
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
              background-color: $primary;
              color: $white;
            }
          }
        }
      }
    }
  }
}
