/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "BrownSugar";
  src: url("../fonts/BrownSugar.ttf") format("truetype");
}
.text-200 {
  font-size: 200px;
  line-height: calc(200px + 10px);
}

.text-120 {
  font-size: 120px;
  line-height: calc(120px + 10px);
}

.text-75 {
  font-size: 75px;
  line-height: calc(75px + 10px);
}

.text-43 {
  font-size: 43px;
  line-height: calc(43px + 10px);
}

.text-30 {
  font-size: 30px;
  line-height: calc(30px + 10px);
}

.text-20 {
  font-size: 20px;
  line-height: calc(20px + 10px);
}

.text-27 {
  font-size: 27px;
  line-height: calc(27px + 10px);
}

.text-50 {
  font-size: 50px;
  line-height: calc(50px + 10px);
}

.color-primary {
  color: #0E87D0;
}

.color-secondary {
  color: #F8413E;
}

.color-white {
  color: #EFEFEF;
}

.color-black {
  color: #252525;
}

.color-secondary-gradient {
  color: #FCA845;
}

.color-primary-gradient {
  color: #BDE6FF;
}

.regular {
  font-family: "BrownSugar";
}

.text-200 {
  font-size: clamp(10vw, 20vw, 200px);
}

.page {
  background-color: #EFEFEF;
  width: 100%;
  height: 200vh;
  position: relative;
}
.page::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/gif/noise.gif");
  opacity: 0.05;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  z-index: 100;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
}
.header-container {
  padding-inline: 50px;
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
}
.header-container-button {
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: relative;
}
.header-container-button div {
  width: 10px;
  height: 10px;
  border-radius: 8px;
  position: absolute;
  background: #0E87D0;
}
.header-container-button div:nth-child(1) {
  left: 0;
  top: 0;
}
.header-container-button div:nth-child(2) {
  right: 0;
  bottom: 0;
}

.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #EFEFEF;
  transition: top 1s cubic-bezier(0.85, 0, 0.2, 1) 2s, box-shadow cubic-bezier(0.85, 0, 0.2, 1) 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 16px 40px 11px rgba(0, 0, 0, 0.4);
  gap: 20px;
}
.loader img {
  width: 200px;
  height: auto;
}

.js-loading-state.is-loaded .loader {
  box-shadow: 0px 16px 40px 11px rgba(0, 0, 0, 0);
  top: -100%;
}

.home-hero {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.home-hero::before {
  content: "";
  width: 100%;
  filter: blur(20px);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
  animation: animationOpacityGradient 2s infinite;
}
.home-hero-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-inline: 5%;
  box-sizing: border-box;
}
.home-hero-container img {
  width: 500px;
  max-width: 500px;
  z-index: 998;
  mix-blend-mode: difference;
  filter: blur(20px);
  transform: scale(0.8);
  opacity: 0;
}
@media (max-width: 991px) {
  .home-hero-container img {
    max-width: 400px;
  }
}
.home-hero-container h2 {
  position: absolute;
  top: 15vh;
  z-index: 998;
  mix-blend-mode: difference;
  pointer-events: none;
}
.home-hero-container-background {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 70vw;
  height: 100vh;
  background: #BDE6FF;
  filter: blur(200px);
  opacity: 0.3;
}

@keyframes animationOpacityGradient {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.3;
  }
}
.home-gallery {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.home-gallery-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
}
.home-gallery-container h2 {
  pointer-events: none;
}

/*# sourceMappingURL=main.css.map */
