/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html::selection {
  color: red;
  background: yellow;
}

@font-face {
  font-family: "BrownSugar";
  src: url("../fonts/BrownSugar.ttf") format("truetype");
}
@font-face {
  font-family: "Satoshi Regular";
  src: url("../fonts/Satoshi-Regular.ttf") format("truetype");
}
.text-200 {
  font-size: 200px;
  line-height: calc(200px + 10px);
}

.text-120 {
  font-size: 120px;
  line-height: calc(120px + 10px);
}

.text-75 {
  font-size: 75px;
  line-height: calc(75px + 10px);
}

.text-43 {
  font-size: 43px;
  line-height: calc(43px + 10px);
}

.text-30 {
  font-size: 30px;
  line-height: calc(30px + 10px);
}

.text-20 {
  font-size: 20px;
  line-height: calc(20px + 10px);
}

.text-27 {
  font-size: 27px;
  line-height: calc(27px + 10px);
}

.text-50 {
  font-size: 50px;
  line-height: calc(50px + 10px);
}

.text-16 {
  font-size: 16px;
  line-height: calc(16px + 10px);
}

.color-primary {
  color: #0E87D0;
}

.color-secondary {
  color: #F8413E;
}

.color-white {
  color: #EFEFEF;
}

.color-black {
  color: #1C1C1C;
}

.color-secondary-gradient {
  color: #FCA845;
}

.color-primary-gradient {
  color: #BDE6FF;
}

.color-green {
  color: #ADFF2F;
}

.regular {
  font-family: "BrownSugar";
}

.text-200 {
  font-size: clamp(10vw, 20vw, 200px);
}

.text-100 {
  font-size: clamp(5vw, 100px, 120px);
}

.paragraph {
  font-family: "Satoshi Regular";
}

.page {
  background-color: #EFEFEF;
  width: 100%;
  height: 200vh;
  position: relative;
}
.page::before {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/gif/noise.gif");
  opacity: 0.05;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  z-index: 100;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

.button-custom {
  padding: 1em;
  color: #ADFF2F;
  font-size: 20px;
  background: #1C1C1C;
  line-height: 20px;
  border: 1px solid #1C1C1C;
  transition: border 0.3s ease-in-out, background 0.3s ease-in-out;
}
.button-custom:hover {
  background: transparent;
  border: 1px solid #ADFF2F;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
}
.header-container {
  padding-inline: 50px;
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
}
.header-container a {
  mix-blend-mode: difference;
}
.header-container-menu {
  display: flex;
  gap: 20px;
}
.header-container-menu li {
  cursor: pointer;
}

.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #EFEFEF;
  transition: top 1s cubic-bezier(0.85, 0, 0.2, 1) 2s, box-shadow cubic-bezier(0.85, 0, 0.2, 1) 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 16px 40px 11px rgba(0, 0, 0, 0.4);
  gap: 20px;
}
.loader img {
  width: 200px;
  height: auto;
}

.js-loading-state.is-loaded .loader {
  box-shadow: 0px 16px 40px 11px rgba(0, 0, 0, 0);
  top: -100%;
}

.footer {
  height: 76px;
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid #1C1C1C;
}
.footer-container {
  width: 100%;
  height: 100%;
  padding-inline: 5%;
  display: flex;
  align-items: center;
}
.footer-container-socials {
  list-style: none;
  display: flex;
}
.footer-container-socials-item a {
  display: flex;
  align-items: center;
}
.footer-container-socials-item a img {
  width: 26px;
  height: 26px;
}
.footer-container-socials-item a p {
  margin-inline: 10px;
  font-size: 16px;
  color: #1C1C1C;
}
.footer-container-socials-item {
  margin-inline: 10px;
}

.home-hero {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.home-hero::before {
  content: "";
  width: 100%;
  filter: blur(20px);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
  animation: animationOpacityGradient 2s infinite;
}
.home-hero-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-inline: 5%;
  box-sizing: border-box;
}
.home-hero-container-portfolio {
  position: absolute;
  right: 35%;
  bottom: 10%;
}
.home-hero-container-perso {
  position: absolute;
  left: 0;
  top: -60px;
}
.home-hero-container-perso img {
  width: 30vw;
  opacity: 0;
  filter: blur(20px);
  z-index: 9999999999;
}
.home-hero-container .image-tab {
  width: 500px;
  max-width: 500px;
  z-index: 998;
  mix-blend-mode: difference;
  filter: blur(20px);
  transform: scale(0.8);
  opacity: 0;
}
@media (max-width: 991px) {
  .home-hero-container .image-tab {
    max-width: 400px;
  }
}
.home-hero-container-text {
  position: absolute;
  top: 10vh;
  z-index: 998;
  mix-blend-mode: difference;
}
.home-hero-container h2 {
  pointer-events: none;
  filter: blur(20px);
}
.home-hero-container-background {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 70vw;
  height: 100vh;
  background: #BDE6FF;
  filter: blur(200px);
  opacity: 0.3;
}

@keyframes animationOpacityGradient {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.3;
  }
}
.home-gallery {
  width: 100vw;
  height: 300vh;
  position: relative;
  padding-top: 150px;
}
.home-gallery-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
}
.home-gallery-container h2 {
  pointer-events: none;
}
.home-gallery-container-images {
  margin-top: 120px;
  position: relative;
  width: calc(100% - 204px);
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.home-gallery-container-images-item:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 47vw;
  height: 30vh;
}
.home-gallery-container-images-item:nth-of-type(1) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s;
}
.home-gallery-container-images-item:nth-of-type(1) img:first-child {
  opacity: 1;
}
.home-gallery-container-images-item:nth-of-type(1) img:last-child {
  opacity: 0;
}
.home-gallery-container-images-item:nth-of-type(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  height: 59vh;
}
.home-gallery-container-images-item:nth-of-type(2) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s;
}
.home-gallery-container-images-item:nth-of-type(2) img:first-child {
  opacity: 1;
}
.home-gallery-container-images-item:nth-of-type(2) img:last-child {
  opacity: 0;
}
.home-gallery-container-images-item:nth-of-type(3) {
  position: absolute;
  top: 50vh;
  left: 0;
  width: 40vw;
  height: 52vh;
}
.home-gallery-container-images-item:nth-of-type(3) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s;
}
.home-gallery-container-images-item:nth-of-type(3) img:first-child {
  opacity: 1;
}
.home-gallery-container-images-item:nth-of-type(3) img:last-child {
  opacity: 0;
}
.home-gallery-container-images-item:nth-of-type(4) {
  position: absolute;
  top: 70vh;
  right: 0;
  width: 39vw;
  height: 50vh;
}
.home-gallery-container-images-item:nth-of-type(4) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s;
}
.home-gallery-container-images-item:nth-of-type(4) img:first-child {
  opacity: 1;
}
.home-gallery-container-images-item:nth-of-type(4) img:last-child {
  opacity: 0;
}
.home-gallery-container-images-item:nth-of-type(5) {
  position: absolute;
  top: 130vh;
  left: 0;
  width: 27vw;
  height: 56vh;
}
.home-gallery-container-images-item:nth-of-type(5) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s;
}
.home-gallery-container-images-item:nth-of-type(5) img:first-child {
  opacity: 1;
}
.home-gallery-container-images-item:nth-of-type(5) img:last-child {
  opacity: 0;
}
.home-gallery-container-images-item:nth-of-type(6) {
  position: absolute;
  top: 150vh;
  right: 0;
  width: 22vw;
  height: 78vh;
}
.home-gallery-container-images-item:nth-of-type(6) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s;
}
.home-gallery-container-images-item:nth-of-type(6) img:first-child {
  opacity: 1;
}
.home-gallery-container-images-item:nth-of-type(6) img:last-child {
  opacity: 0;
}
.home-gallery-container-images-item:nth-of-type(7) {
  position: absolute;
  top: 210vh;
  left: 0;
  width: 53vw;
  height: 52vh;
}
.home-gallery-container-images-item:nth-of-type(7) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s;
}
.home-gallery-container-images-item:nth-of-type(7) img:first-child {
  opacity: 1;
}
.home-gallery-container-images-item:nth-of-type(7) img:last-child {
  opacity: 0;
}

.home-about {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1s cubic-bezier(0.85, 0, 0.2, 1);
  overflow: hidden;
}
.home-about.is-inview {
  background-color: #1C1C1C;
}
.home-about.is-inview::before {
  opacity: 0.08;
}
.home-about.is-inview .home-about-container-image::before {
  left: 100%;
}
.home-about::before {
  content: "";
  width: 100vw;
  height: 100vh;
  background: url("../images/gif/noise.gif");
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.home-about-social-item {
  width: fit-content;
  height: fit-content;
  transition: border-radius ease-in-out 0.5s, transform 1s ease-in-out;
  position: absolute;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 40px;
  padding: 1em 1em;
  background: #1C1C1C;
  z-index: 99999999999;
}
.home-about-social-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: #ddd transparent;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.home-about-social-item.instagram {
  left: 20%;
  top: 20%;
  transform: rotate(20deg) translate(-50%, 10px) !important;
  border-radius: 10px 29px 10px 10px;
}
.home-about-social-item.instagram:hover {
  border-radius: 10px 53px 10px 10px;
}
.home-about-social-item.instagram:hover::before {
  border-width: 0 30px 30px 0;
}
.home-about-social-item.twitter {
  transform: rotate(-15deg) translate(-50%, -50%);
  right: 20%;
  bottom: 5%;
  border-radius: 10px 35px 10px 10px;
}
.home-about-social-item.twitter:hover {
  border-radius: 10px 53px 10px 10px;
}
.home-about-social-item.twitter:hover::before {
  border-width: 0 30px 30px 0;
}
.home-about-social-item p {
  line-height: 20px;
}
.home-about-social-item img {
  width: 50px;
  height: 50px;
}
.home-about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5%;
  z-index: 9999;
  gap: 30px;
  position: relative;
}
.home-about-container-image {
  width: 50%;
  position: relative;
  overflow: hidden;
}
.home-about-container-image::before {
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  transition: left 0.8s cubic-bezier(0.85, 0, 0.2, 1);
}
.home-about-container-image img {
  width: 100%;
}
.home-about-container-text {
  width: 40%;
}

.home-forever-vacation {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-forever-vacation-container {
  background: url("/images/background-forever.png");
  background-size: cover;
  background-position: center;
  transition-timing-function: ease-in;
  position: relative;
}
.home-forever-vacation-container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 2em;
  height: 100%;
  z-index: 99999;
  position: relative;
}
.home-forever-vacation-container-content a {
  margin-top: 20px;
}
.home-forever-vacation-container-content img {
  width: 15vw;
  filter: invert(100%);
}

.home-contact {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.home-contact-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-contact-container-image {
  width: 100%;
  height: 100%;
}
.home-contact-container-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-contact-container-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding-left: 80px;
  padding-right: 80px;
}
.home-contact-container-content form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  width: 100%;
}
.home-contact-container-content form .home-contact-form-input {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.home-contact-container-content form .home-contact-form-input label + .home-contact-form-input-container,
.home-contact-container-content form .home-contact-form-input label + .home-contact-form-input-container {
  margin-top: 10px;
}
.home-contact-container-content form .home-contact-form-input-container {
  position: relative;
  border-bottom: #1C1C1C 1px solid;
}
.home-contact-container-content form .home-contact-form-input-container input,
.home-contact-container-content form .home-contact-form-input-container textarea {
  min-width: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 14px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: transparent;
}
.home-contact-container-content form .home-contact-form-input-container input:focus,
.home-contact-container-content form .home-contact-form-input-container textarea:focus {
  outline: none;
}
.home-contact-container-content form .home-contact-form-input-container textarea {
  resize: vertical;
  min-height: 100px;
}
.home-contact-container-content form .home-contact-form-input-container::after, .home-contact-container-content form .home-contact-form-input-container::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  border-bottom: 3px solid #0E87D0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.home-contact-container-content form .home-contact-form-input-container:focus-within::after, .home-contact-container-content form .home-contact-form-input-container:focus-within::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.home-contact-container-content form .home-contact-form-input + .home-contact-form-input {
  margin-top: 20px;
}
.home-contact-container-content form .home-contact-form-submit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.home-contact-container-content form .home-contact-form-submit button {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #1C1C1C;
  color: #EFEFEF;
  font-size: 16px;
  font-family: "Satoshi Regular";
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.home-contact-container-content form .home-contact-form-submit button:hover {
  background-color: #0E87D0;
  color: #EFEFEF;
}

/*# sourceMappingURL=main.css.map */
