.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  &-container{
    padding-inline: 50px;
    padding-block: 20px;
    display: flex;
    justify-content: space-between;
    &-button{
      height: 30px;
      width: 30px;
      cursor: pointer;
      position: relative;
      div{
        width: 10px;
        height: 10px;
        border-radius: 8px;
        position: absolute;
        background: $primary;
        &:nth-child(1){
          left: 0;
          top: 0;
        }
        &:nth-child(2){
          right: 0;
          bottom: 0;
        }
      }
    }
  }
}
