.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  &-container{
    padding-inline: 50px;
    padding-block: 20px;
    display: flex;
    justify-content: space-between;
    a {
      mix-blend-mode: difference;
    }
    &-menu{
      display: flex;
      gap: 20px;
      li{
        cursor: pointer;
      }
    }
  }
}
