.loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $white;
  transition: top 1s cubic-bezier(0.85, 0, 0.2, 1) 2s,
    box-shadow cubic-bezier(0.85, 0, 0.2, 1) 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 16px 40px 11px rgba(0, 0, 0, 0.4);
  gap: 20px;
  img {
    width: 200px;
    height: auto;
  }
}

.js-loading-state {
  &.is-loaded {
    .loader {
      box-shadow: 0px 16px 40px 11px rgba(0, 0, 0, 0);
      top: -100%;
    }
  }
}
